<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <link rel="stylesheet" href="{{ " /resources/css/main.css " | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ " /resources/css/game.css " | prepend: site.baseurl }}">
    </head>

    <body>
        {% include header.html %} {{ content }} {% include footer.html %}
        <script src="{{ " /resources/js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    </body>

</html>